body {
    background-color: black;
}

.head {
    position: absolute;
    background-color: rgb(46, 46, 46);
    width: 1500;
    height: 120px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.grille {
    position: absolute;
    background-color: rgb(68, 77, 255);
    width: 580px;
    height: 500px;
    margin-left: 460px;
    margin-top: 170px;
    border-radius: 15px;
}

.button_1 {
    position: absolute;
    background-color: rgb(255, 0, 187, 0);
    width: 60px;
    height: 460px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 100px;
    border: none;
}

.button_2 {
    position: absolute;
    background-color: rgb(255, 0, 187, 0);
    width: 60px;
    height: 460px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 100px;
    border: none;
}

.button_3 {
    position: absolute;
    background-color: rgb(255, 0, 187, 0);
    width: 60px;
    height: 460px;
    margin-top: 20px;
    margin-left: 180px;
    border-radius: 100px;
    border: none;
}

.button_4 {
    position: absolute;
    background-color: rgb(255, 0, 187, 0);
    width: 60px;
    height: 460px;
    margin-top: 20px;
    margin-left: 260px;
    border-radius: 100px;
    border: none;
}

.button_5 {
    position: absolute;
    background-color: rgb(255, 0, 187, 0);
    width: 60px;
    height: 460px;
    margin-top: 20px;
    margin-left: 340px;
    border-radius: 100px;
    border: none;
}

.button_6 {
    position: absolute;
    background-color: rgb(255, 0, 187, 0);
    width: 60px;
    height: 460px;
    margin-top: 20px;
    margin-left: 420px;
    border-radius: 100px;
    border: none;
}

.button_7 {
    position: absolute;
    background-color: rgb(255, 0, 187, 0);
    width: 60px;
    height: 460px;
    margin-top: 20px;
    margin-left: 500px;
    border-radius: 100px;
    border: none;
}

.win_rouge {
    position: absolute;
    background-color: rgb(68, 77, 255);
    width: 180px;
    height: 280px;
    margin-left: 50px;
    margin-top: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 35, 99);
    border-radius: 15px;
}

.win_jaune {
    position: absolute;
    background-color: rgb(68, 77, 255);
    width: 180px;
    height: 280px;
    margin-left: 1280px;
    margin-top: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 35, 99);
    border-radius: 15px;
}
.time_rouge {
    position: absolute;
    background-color: rgb(68, 77, 255);
    width: 130px;
    height: 60px;
    margin-left: 100px;
    margin-top: 550px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 35, 99);
    border-radius: 15px;
}

.time_jaune {
    position: absolute;
    background-color: rgb(68, 77, 255);
    width: 130px;
    height: 60px;
    margin-left: 1280px;
    margin-top: 550px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 35, 99);
    border-radius: 15px;
}

.image {
    margin-left: 31px;
    margin-top: 30px;
}

.ligne_1 {
    position: absolute;
    margin-top: 20px;
}

.ligne_2 {
    position: absolute;
    margin-top: 100px;
}

.ligne_3 {
    position: absolute;
    margin-top: 180px;
}

.ligne_4 {
    position: absolute;
    margin-top: 260px;
}

.ligne_5 {
    position: absolute;
    margin-top: 340px;
}

.ligne_6 {
    position: absolute;
    margin-top: 420px;
}

.A1_relief {
    position: absolute;
    background-color: rgb(0, 35, 99);
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 100px;
}

.A1_creux {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 54px;
    border-radius: 100px;
}

.A2_relief {
    position: absolute;
    background-color: rgb(0, 35, 99);
    width: 60px;
    height: 60px;
    margin-left: 100px;
    border-radius: 100px;
}

.A2_creux {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 54px;
    border-radius: 100px;
}

.A3_relief {
    position: absolute;
    background-color: rgb(0, 35, 99);
    width: 60px;
    height: 60px;
    margin-left: 180px;
    border-radius: 100px;
}

.A3_creux {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 54px;
    border-radius: 100px;
}

.A4_relief {
    position: absolute;
    background-color: rgb(0, 35, 99);
    width: 60px;
    height: 60px;
    margin-left: 260px;
    border-radius: 100px;
}

.A4_creux {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 54px;
    border-radius: 100px;
}

.A5_relief {
    position: absolute;
    background-color: rgb(0, 35, 99);
    width: 60px;
    height: 60px;
    margin-left: 340px;
    border-radius: 100px;
}

.A5_creux {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 54px;
    border-radius: 100px;
}

.A6_relief {
    position: absolute;
    background-color: rgb(0, 35, 99);
    width: 60px;
    height: 60px;
    margin-left: 420px;
    border-radius: 100px;
}

.A6_creux {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 54px;
    border-radius: 100px;
}

.A7_relief {
    position: absolute;
    background-color: rgb(0, 35, 99);
    width: 60px;
    height: 60px;
    margin-left: 500px;
    border-radius: 100px;
}

.A7_creux {
    position: absolute;
    background-color: black;
    width: 60px;
    height: 54px;
    border-radius: 100px;
}

.rouge {
    background-color: red;
    border-radius: 50%;
}

.jaune {
    background-color: yellow;
    border-radius: 50%;
}

.rouge {
    background-color: red;
    border-radius: 50%;
}

.jaune {
    background-color: yellow;
    border-radius: 50%;
}
